{% extends "layout.html" %}
{% block body %}
<div class="quiz-container">
  <h2>{{city_in_request[0][1]}}</h2>
  <form action="#" method="post">
    <p>{{question[0][1]}}</p>
    {% for option in options_of_question %}
    <input type="radio" id="option{{ loop.index0 }}" name="option_id" value="{{option[0]}}">
    <label for="option{{ loop.index0 }}">{{option[2]}} </label><br>
    {% endfor %}

  
    <!-- Add more options if needed -->
  
    <br>
    <input type="submit" value="Answer">
  </form>
</div>

{% endblock %}