{% extends "index_layout.html" %}

{% block index %}


  <!-- <p class="player-info">{{ quiz_session }}</p> -->

  <div id="location-list">
    <table>
      <h2>Location List</h2>
      <thead>
        
        <tr>
          
          <th>ID</th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for location in location_list %}
        <tr>
          <td>{{location[0]}}</td>
          <td>{{location[1]}}</td>
          <td>
            <form action="#" method="post">
              <input name="location_id" type="hidden" value="{{location[0]}}">
              <button type="submit">Select</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>  
  </div>

{% endblock %}